/* Typography */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: var(--ff-kumbh-sans);
  background: rgb(101, 101, 231);
  background: linear-gradient(
    40deg,
    rgba(101, 101, 231, 1) 30%,
    rgba(175, 103, 233, 1) 100%
  );
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  /* Colors Primary Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --white: #ffff;

  /* Background gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Neutral Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* Font Family */
  --ff-kumbh-sans: "Kumbh Sans", sans-serif;
}
img {
  width: 100%;
}
h1 {
  font-size: 3.2rem;
  color: var(--very-dark-desaturated-blue);
}
p {
  font-size: 1.2rem;
  color: var(--very-dark-grayish-blue);
}
@media screen and (min-width: 1000px) {
  p {
    font-size: 1.4rem;
  }
}
/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Card Images */
.bg-pattern {
  width: 24rem;
  position: absolute;
  left: 10%;
  top: 0%;
  display: block;
}
.illustration-image {
  position: absolute;
  top: -22%;
  left: 10%;
  width: 23.7rem;
  height: 18rem;
}
.box {
  display: none;
}
@media screen and (min-width: 1000px) {
  .bg-pattern {
    width: 96.6rem;
    height: 85.8rem;
    left: -65%;
    top: -45%;
  }
  .illustration-image {
    width: 47.2rem;
    height: 35.9rem;
    top: 11%;
    left: -8%;
  }
  .box {
    display: block;
    width: 15rem;
    height: 14.6rem;
    position: absolute;
    top: 43.5%;
    left: 12.7%;
    z-index: 9999;
  }
}
/* Card */
.card {
  position: relative;
  border-radius: 23px;
  background-color: var(--white);
  margin: 0 2.4rem;
  padding: 13.2rem 2.4rem 4.8rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card-heading {
  text-align: center;
}
.card-body {
  text-align: left;
}
.question-box {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid var(--light-grayish-blue);
  cursor: pointer;
  max-width: 35rem;
}
.question-text:hover {
  color: var(--soft-red);
}
.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.answer-box {
  color: var(--dark-grayish-blue);
  font-size: 1.2rem;
  margin-top: 0;
}
.arrow {
  margin-left: 4rem;
  width: 0.9rem;
  height: 0.5rem;
}
.is-hidden {
  display: none;
}
.is-bold {
  font-weight: bold;
}
@media screen and (min-width: 1000px) {
  .card {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    width: 92rem;
    height: 50.9rem;
  }
  .card-body {
    margin-bottom: 4rem;
  }
  .card-heading {
    text-align: left;
  }
}
/* Author */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 9%, 90%);
}
